<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mantenimiento de Usuario</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
<link rel="stylesheet" href="/css/estilos.css">

</head>

<body>

    <div class="container">
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img th:src="@{img/logoLuren.png}">
                    <h2>Lu<span class="danger">ren</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>
      
            <div class="sidebar">
                <a href="PgProducto">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Mantenimiento Producto</h3>
                </a>
                <a href="PgCliente">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                    <h3>Mantenimiento Cliente</h3>
                </a>
                <a href="PgServicio">
                    <span class="material-icons-sharp">
                        receipt_long
                    </span>
                    <h3>Mantenimiento Servicio</h3>
                </a>
                <a href="PgUsuario" class="active">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                    <h3>Mantenimiento Usuario</h3>
                </a>
      
                <a href="PgBoleta">
                    <span class="material-icons-sharp">
                        insights
                    </span>
                    <h3>Adquirir Servicio</h3>
                </a>
                <a href="reportePro">
                    <span class="material-icons-sharp">
                        mail_outline
                    </span>
                    <h3>Reporte Productos</h3>
                </a>
                <a href="reporteUsu">
                    <span class="material-icons-sharp">
                        inventory
                    </span>
                    <h3>Reporte Usuario</h3>
                </a>
                <a href="Nosotros">
                    <span class="material-icons-sharp">
                        settings
                    </span>
                    <h3>Nosotros</h3>
                </a>
                <a href="mp3">
                    <span class="material-icons-sharp">
                        receipt_long
                    </span>
                    <h3>Reproductor Mp3</h3>
                </a>
                <a href="Login">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>Cerrar Sesion</h3>
                </a>
            </div>
        </aside>

        <main>
            <a href="/"><h1 style="text-align: center;">Automotriz <span class="danger">Luren</span></h1></a>
			
			<div class="analyse">
                <div class="sales">
                    <div>
						<h3 style="text-align: center;">Mantenimiento de <span class="danger">Usuario</span></h3>
						<br>
						<div class="user-list">
							<form action="/PgUsuario" method="post"
							th:object="${usuario}">

							<div class="form-group">
								<label for="inputCod">Codigo Usuario</label> <input type="text"
									class="form-control" id="inputCod" placeholder="Codigo"
									name="codigo" th:value="${usuario.codigo}" required>
							</div>
							<br>
							<div class="form-group">
								<label for="inputNom">Nombre Usuario</label> <input type="text"
									class="form-control" id="inputNom" placeholder="Nombre"
									name="nombre" th:value="${usuario.nombre}" required>
							</div>
							<br>
							<div class="form-group">
								<label for="inputApe">Apellido Usuario</label> <input
									type="text" class="form-control" id="inputApe"
									placeholder="Apellido" name="apellido"
									th:value="${usuario.apellido}" required>
							</div>
							<br>
							<div class="form-group">
								<label for="inputUsu">Usuario</label> <input type="text"
									class="form-control" id="inputUsu"
									placeholder="Usuario" name="usuario"
									th:value="${usuario.usuario}" required>
							</div>
							<br>
							<div class="form-group">
								<label for="inputCla">Clave Usuario</label> <input
									type="password" class="form-control" id="inputCla"
									placeholder="Clave" name="clave"
									th:value="${usuario.clave}" required>
							</div>
							<br>
							<div class="form-group">
								<label for="inputTipo">Tipo Usuario</label> <select id="inputTipo"
									th:field="*{id_tipo}" class="form-control">
									<option value="-1">Seleccione...</option>
									<option th:each="t : ${lstTipoUsuario}"
										th:value="${t.id_tipo_usuario}"
										th:text="${t.des_tipo_usuario}"></option>
								</select>
							</div>

							<br>
							<div class="btn-container">
								<button type="submit" name="action" value="registrar" class="btn btn-primary">Registrar</button>
                                    <button type="submit" name="action" value="actualizar" class="btn btn-warning">Actualizar</button>
                                    <br>
                                    <button type="submit" name="action" value="eliminar" class="btn btn-danger">Eliminar</button>
                                    <button type="button" class="btn btn-secondary" onclick="limpiarCamposCliente()">Limpiar</button>
                                    <br>
								<a href="/reporteUsu" class="btn btn-warning">PDF</a>
							</div>
						</form>
							<div th:text="${mensaje}"></div>
						</div>
					</div>
                </div>

			<div>
                <h2 style="text-align: center;"><span class="danger">Usuarios</span> Disponibles</h2>
                <input type="text" id="filtro" placeholder="Filtrar por Usuario">
						<table id="id_table" class="table table-striped">
								<thead>
									<tr>
										<th>Codigo</th>
										<th>Nombre</th>
										<th>Apellido</th>
										<th>Usuario</th>
										<th>Clave</th>
										<th>Tipo Usuario</th>
										<th>Accion</th>
									</tr>
								</thead>
					<tbody>
						<tr th:each="u : ${lstUsuario}">
							<th scope="row" th:text="${u.codigo}">1</th>
							<td th:text="${u.nombre}">xx</td>
							<td th:text="${u.apellido}">xx</td>
							<td th:text="${u.usuario}">xx</td>
							<td th:text="${u.clave}">xx</td>
							<td th:text="${u.objTipoUsuario.des_tipo_usuario}">xx</td>
							<td>
								<form
									th:action="@{/PgUsuario/editar/{codUsuario}(codUsuario=${u.codigo})}"
									method="get">
									<button type="submit" class="btn btn-link p-0">
										<img
											src="https://cdn1.iconfinder.com/data/icons/unicons-line-vol-3/24/edit-256.png"
											style="width: 30px;">
									</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
                <div id="pagination" style="text-align: center; margin-top: 20px;">
                    <div id="buttonsContainer">
                        <button id="prevBtn" style="color: #fff; background-color: #1C9028">Anterior</button>
                        <button id="nextBtn" style="color: #fff; background-color: #1C9028">Siguiente</button>
                    </div>
                    <span id="currentPage"></span>
                </div>
            </div>
            </div>
        </main>
        
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>USER</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="@{img/perfil.png}">
                    </div>
                </div>

            </div>
            <!-- End of Nav -->
        </div>

    </div>

    <script src="/js/inicio.js"></script>

    <script>
        var filtroInput = document.getElementById('filtro');
        var elementos = document.querySelectorAll("tbody tr");
    
        filtroInput.addEventListener('input', function () {
            var filtro = filtroInput.value.toLowerCase();
    
            elementos.forEach(function (elemento) {
                var descripcionServicio = elemento.querySelector("td:nth-child(4)").textContent
                    .toLowerCase();
    
                if (descripcionServicio.startsWith(filtro)) {
                    elemento.style.display = "table-row";
                } else {
                    elemento.style.display = "none";
                }
            });
        });
    </script>

    <script>
        var table = document.getElementById('id_table');
        var prevBtn = document.getElementById('prevBtn');
        var nextBtn = document.getElementById('nextBtn');
        var currentPageElement = document.getElementById('currentPage');

        var rowsPerPage = 8;
        var currentPage = 1;

        var totalRows = table.tBodies[0].rows.length;
        var totalPages = Math.ceil(totalRows / rowsPerPage);

        function showPage(page) {
            var startIndex = (page - 1) * rowsPerPage;
            var endIndex = startIndex + rowsPerPage;

            for (var i = 0; i < totalRows; i++) {
                var row = table.tBodies[0].rows[i];
                row.style.display = 'none';
            }

            for (var j = startIndex; j < endIndex && j < totalRows; j++) {
                var row = table.tBodies[0].rows[j];
                row.style.display = '';
            }

            currentPageElement.textContent = 'Tabla ' + page + ' de '
                    + totalPages;
        }

        function goToPrevPage() {
            if (currentPage > 1) {
                currentPage--;
                showPage(currentPage);
            }
        }

        function goToNextPage() {
            if (currentPage < totalPages) {
                currentPage++;
                showPage(currentPage);
            }
        }

        showPage(currentPage);

        prevBtn.addEventListener('click', goToPrevPage);
        nextBtn.addEventListener('click', goToNextPage);
    </script>
</body>
</html>
